<div class="row row-cols-1 row-cols-md-5 g-4">
  <div class="col" *ngFor="let product of products">
    <div class="card h-100">
      <img src="{{product.thumbnail}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">ID DE VENDEDOR: {{product.seller.id}}</p>

        <button type="button" class="btn btn-info" (click)="showmore(product.id)">Info</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">${{product.price}}</small>
      </div>
    </div>
  </div>
</div>

<br><br>
<app-navigatior (evento)="actualizar()"></app-navigatior>
